:root {
  --main-color: #ff9800;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

/** Start setting Box */
.setting-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: rgb(255 255 255);
  width: 200px;
  min-height: 100vh;
  z-index: 100;
  transition: 0.3s;
}
.setting-box.open {
  left: 0;
}
.setting-box .toggle-setting {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}
.setting-box .toggle-setting .fa-gear {
  padding: 8px 0;
  width: 30px;
}
.setting-box .option-box {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 10px;
}
.setting-box .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.setting-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}
.setting-box .option-box .colors-list li {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  display: inline-block;
  border: 2px solid #eee;
}
.setting-box .option-box .colors-list li.active {
  opacity: 1;
  border-color: white;
}
.setting-box .option-box .colors-list li:first-child {
  background-color: #ff9800;
}
.setting-box .option-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}
.setting-box .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.setting-box .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}
.setting-box .option-box .colors-list li:nth-child(5) {
  background-color: #4caf50;
}

.setting-box .random-backgrounds .yes,
.setting-box .random-backgrounds .No {
  width: 50px;
  background-color: #009688;
  color: white;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
}
.setting-box .option-box .random-backgrounds span.active {
  opacity: 1;
}

/** End setting Box */
/** Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url(../Imags/01.jpg);
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.header-area {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
}
.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.header-area .links {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  font-size: 15px;
}
.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}
.header-area .links li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
}
.intoduction-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  text-align: center;
  width: 80%;
}
.intoduction-text h1 {
  font-size: 34px;
  margin: 0 0 12px;
}
.intoduction-text h1 span {
  color: var(--main-color);
}
.intoduction-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
/** End Landing Page */
